	<div class="footer">
		<small> <!-- makes the text a little smaller -->
			You've found the home page for the
			<%= link_to "One Month Rails", "http://onemonthrails.com" %>
			application by Mattan Griffel
		</small>
	</div>